#friendImage {
    height: 250px;
    width: 250px;
}

.container {
    margin-top: 155px;
    
}

.jumbotron {
    background-color: pink;
    font-size: 35px;
    padding-top: 30px;
    height: 370px;
}

.h1 {
    font-family: 'Knewave', cursive;
    font-size: 100px;
}

#body {
    background-image: url("https://i.pinimg.com/originals/38/0b/c3/380bc328c86378633b1ada188e93d117.jpg");
    background-size: 100%;
}

#body2 {
    background-image: url("https://i.pinimg.com/originals/38/0b/c3/380bc328c86378633b1ada188e93d117.jpg");
    background-size: 150%;
}


.container2 {
    background-color: pink;
    width: 800px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 10px;
}

#submit {
    margin-right: 10px;
}

.api {
    color: black;
}